<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <cardcom>
                <!-- start: General Settings -->
                <active>0</active>
                <title>Credit Card (Cardcom)</title>

                <model>SR\Cardcom\Model\CardcomFacade</model>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <!--<can_void>1</can_void>-->
                <!--<can_cancel>1</can_cancel>-->
                <!--<can_review_payment>1</can_review_payment>-->
                <!--<can_deny_payment>1</can_deny_payment>-->
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <!--<cctypes>AE,VI,MC,DI,JCB,CUP,DN,MI</cctypes>-->

                <!--<order_status>pending</order_status>-->
                <order_status>pending_payment</order_status>
                <!--<order_status>processing</order_status>-->
                <!--<order_successful_status>processing</order_successful_status>-->
                <!--<order_failed_status>pending</order_failed_status>-->

                <!--<payment_action>order</payment_action>-->
                <payment_action>authorize</payment_action>
                <!--<payment_action>authorize_capture</payment_action>-->
                <!-- end: General Settings -->


                <!-- start: Cardcom specific settings -->
                <api_username>kzFKfohEvL6AOF8aMEJz</api_username>
                <api_password>FIDHIh4pAadw3Slbdsjg</api_password>
                <terminal_number>1000</terminal_number>
                <terminal_number_tokenization>1000</terminal_number_tokenization>
                <operation>1</operation>
                <mode>1</mode>
                <debug>0</debug>
                <!-- end: Cardcom specific settings -->

                <!-- start: Cardcom Invoice settings -->
                <use_invoice_creation>0</use_invoice_creation>
                <!-- end: Cardcom Invoice settings -->

                <sort_order>1</sort_order>
                <currency>USD</currency>
                <language_code>en</language_code>

                <privateInfoKeys>auth_number,card_id,status_code,status_text,error_code,error_text</privateInfoKeys>
                <paymentInfoKeys>cc_mask_last_4,cc_owner_id,cc_owner_name,cc_type,cc_exp_date,last_trans_id</paymentInfoKeys>
            </cardcom>
        </payment>
    </default>
</config>
