<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_payment_capture">
        <observer name="cardcom_sales_order_payment_capture" instance="SR\Cardcom\Observer\Sales\Order\CaptureObserver" />
    </event>
    <event name="sales_order_place_after">
        <observer name="SR_Cardcom_event_email_stopper" instance="SR\Cardcom\Event\EmailStopper\Order\Email" />
    </event>
</config>
