<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="cardcom_config_provider" xsi:type="object">SR\Cardcom\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="cardcom_guest_paymentinformationmanager_wrapper" type="SR\Cardcom\Model\Checkout\PaymentInformationManagementPlugin" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="cardcom_user_paymentinformationmanager_wrapper" type="SR\Cardcom\Model\Checkout\PaymentInformationManagementPlugin" sortOrder="10" disabled="false"/>
    </type>
</config>
