<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="cardcom" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                <label>CardCom</label>

                <field id="active" translate="label" sortOrder="100" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>


                <field id="operation" type="select" translate="label" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Operation</label>
                    <source_model>SR\Cardcom\Model\System\Config\Source\Operation</source_model>
                    <comment>The operation the page needs to perform</comment>
                </field>

                <!-- start: Cardcom specific settings -->
                <field id="api_username" type="text" translate="label comment" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Username</label>
                    <comment>Cardcom API username</comment>
                </field>
                <field id="api_password" type="text" translate="label comment" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Password</label>
                    <comment>Cardcom API password. (It is used in operations with Token.)</comment>
                </field>

                <field id="terminal_number" type="text" translate="label comment" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label><![CDATA[Terminal Number<br><small>(for regular charging with credit card)</small>]]></label>
                    <comment>Terminal number as defined for the merchant at Cardcom Gateway within the integration process.</comment>
                </field>

                <field id="terminal_number_tokenization" type="text" translate="label comment" sortOrder="660" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label><![CDATA[Terminal Number<br><small>(for token [recharging, refunding, etc.])</small>]]></label>
                    <comment>Terminal number as defined for the merchant at Cardcom Gateway within the integration process.</comment>
                    <depends>
                        <field id="operation" separator="|">2|3</field>
                    </depends>
                </field>
                <!-- end: Cardcom specific settings -->

                <!-- start: Cardcom Invoice settings -->
                <field id="use_invoice_creation" translate="label comment" type="select" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Automatic Invoice Creation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>A flag to disable/enable automatic invoice creation (on CC Paygate side).</comment>
                </field>

                <field id="invoice_shipping_description" translate="label comment" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Invoice Shipping Description</label>
                    <comment>Custom shipping description for invoice shipping line. Leave blank to use shipping method description</comment>
                    <depends>
                        <field id="use_invoice_creation">1</field>
                    </depends>
                </field>
                <!-- edit: Cardcom Invoice settings -->

                <field id="debug" translate="label comment" type="select" sortOrder="1900" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Write debug data into log file. /var/log/cardcom.log]]></comment>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="2000" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>
